.Home {
  background: rgba(0, 0, 0, 0.5)
    url("https://images.unsplash.com/photo-1601992688411-b6f5ac51b012?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1771&q=80");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
}

.Home__Name {
  font-size: clamp(5em, 12vw, 15vw);
  font-family: "Lobster";
  color: var(--foreground);
}

.Home__Content {
  margin: 4em 4em 4em;
  max-width: 60em;
}

.Intro,
.Intro__p {
  color: var(--background);
  font-size: clamp(3em, 6vw, 99px);
  line-height: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Intro__p {
  color: var(--background);
  font-size: clamp(1.5em, 3vw, 68px);
}

.Intro__p2 {
  color: var(--accent);
  font-size: clamp(1em, 1.5vw, 52px);
}
