.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--header-font);
  background-color: var(--foreground);
  height: 75px;
  width: 100%;
  padding: 5px 30px 0 30px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  position: fixed;
}

.NavBar__Logo {
  display: flex;
  align-items: center;
}

.NavBar__Logo__Text {
  font-size: 52px;
  font-family: "Lobster";
}

.NavBar__Links {
  display: flex;
  gap: 20px;
}

@media (max-width: 540px) {
  .NavBar__Logo__Text {
    display: none;
  }
  .NavBar {
    padding: 5px 18px 0 18px;
  }
}
