.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--header-font);
  background-color: var(--foreground);
  border-color: var(--big-text);
  height: 75px;
  padding: 5px 30px 0 30px;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.NavBar__Links {
  display: flex;
  gap: 20px;
}
