:root {
  --background: #fff;
  --foreground: #f5df4d;
  --accent: #d0d0d0;
  --big-text: #111111;
  --reg-text: #7a9ec1;
  --header-font: Arial;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  min-height: 100vh;
}

h1 {
  font-size: xx-large;
  color: var(--background);
}
