:root {
  --background: #fff;
  --foreground: #f5df4d;
  --accent: #d0d0d0;
  --big-text: #111111;
  --reg-text: #7a9ec1;
  --header-font: Arial;
}

* {
  font-family: "Ubuntu";
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
  min-height: 100vh;
}

form {
  width: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
